/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:'Roboto', sans-serif;
	vertical-align: baseline;
	text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p, span, div{
	color:#212121;
}

/*CLASSES START HERE*/

.largeContent{
	position:relative;
	min-height:50vh;
	width:66%;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	padding:10px;
}

.smallContentRow{
	display:flex;
	margin-left:auto;
	margin-right:auto;
}

.smallContent{
	min-height:10vh;
	margin:10px;
	padding:10px;
	background-color:#fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	width:256px;
}

.skills{
	width:64px;
	text-align:center;
	display:inline-block;
	padding:5px;
}

.skills img{
	width:64px;
}

/*COLOURS START HERE*/

.primaryColour{
    background-color:#4CAF50;
}

.secondaryColour{
    background-color:#388E3C;
}

.tertiaryColour{
    background-color:#C8E6C9;
}

.primaryColourAccent{
    background-color:#2196F3;
}

.secondaryColourAccent{
    background-color:#1976D2;
}

.tertiaryColourAccent{
    background-color:#BBDEFB;
}

.textColourPrimary{
	color:#212121;
}

/*IDS START HERE*/

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(3600deg); }
}

#topNav img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#headerimg:hover{
	animation-name: spin; 
	animation-duration: 25s;
	animation-iteration-count: infinite; 
	animation-timing-function: ease;
}

#headerimg{
	width:40px;
}

#leftCol{
	float:left;
	min-height:100vh;
	width:256px;
	overflow: hidden;
}

#topNav{
	border-bottom: 1px solid #e0e0e0;
	text-align:center;
	width:256px;
}

#topNav, header{
	height:64px;
}

#centerNav{
	width:256px;
}

#centerNav li{
	padding:20px;
}

#centerNav a{
	text-decoration: none;
	color:#212121;
}

#centerNav li:hover{
	background-color:#eee;
}

#botNav{
	border-top: 1px solid #e0e0e0;
	text-align:center;
	position:fixed;
	bottom:0px;
	width:256px;
}

#botNav div{
	font-size:75%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#botNav, footer{
	height:96px;
}

#rightCol{
	overflow: hidden;
	min-height:100vh;
}

#menuIcon{
		display:initial;
		padding-left:10px;
		padding-right:10px;
		margin:0px;
		margin-top:10px;
		float:left;
		background:none;
		border:none;
		fill:#fff;
}

/*DEFAULT TAG NAMES START HERE*/

main{
	min-height:100vh;
	border-left: 1px solid #e0e0e0;
	background-color:#fafafa;
	padding:20px;
}

nav{
	min-height:100vh;
	position:fixed;
}

header{
	background-color:#4CAF50;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

header h1{
	color:#fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left:20px;
	font-size:125%;
}

footer{
	background-color:#4CAF50;
	border-left: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}

h1 {
	font-size:56px;
	font-weight:400;
	line-height:64px;
}

h2 {
	font-size:45px;
	font-weight:400;
	line-height:64px;
}

h3 {
	font-size:34px;
	font-weight:400;
	line-height:52px;
}

P{
	font-size:16px;
	font-weight:500;
	line-height:16px;
	margin-bottom:8px;
}

/* BREAKPOINTS START HERE */

/* mobile-small */
@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait){
	#leftCol, nav{
		display:none;
	}
}

/* mobile-large */
@media all and (min-width: 361px) and (orientation: portrait){
	#leftCol, nav{
		display:none;
	}
}

/* tablet */
@media all and (min-width: 601px) and (max-width: 840px) and (orientation : portrait){
	#leftCol, nav{
		display:none;
	}
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px){
	#leftCol, nav{
		display:none;
	}
}

/* desktop-medium-landscape */
/*sidebar disappears*/
@media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape){
	#leftCol, nav{
		display:none;
	}
}
	
/* desktop-medium */
/*sidebar disappears*/
@media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3){
	#leftCol, nav{
		display:none;
	}
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px){
	#menuIcon{
		display:none;
	}
}

/* desktop-xlarge */
@media all and (min-width: 1601px) and (max-width: 1920px){
	#menuIcon{
		display:none;
	}
}